
.design-dome-section {
  width: 100vw;
  height: 100vh;      /* altura visível */
  position: relative; /* importante por causa do absolute lá dentro */
  overflow: hidden;   /* pra não vazar nada pra fora */
  background: var(--color-secondary-black); /* só pra você enxergar melhor o efeito */
}

.title_dome_section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0px 28px 0px;
    background-color: var(--color-secondary-black);
    color: var(--color-secondary-white);
    gap: 14px;
    font-size: var(--font-headline-h4-size);
    font-family: var(--font-title);
}
.secondary_title_dome_section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 42px 0px;
    background-color: var(--color-secondary-black);
    color: var(--color-secondary-white);
    font-size: var(--font-headline-h4-size);
    font-family: var(--font-title);
}

.secondary_title_dome_section img{
    width: 200px;
}

.design-dome-section {
  background: #000;
}

.dome-wrapper {
  width: 100%;
  height: 600px;
  background: #000;
}
