.card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 90px;
    gap: 19px;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.8) 0%,
            /* topo mais escuro */
            rgba(60, 61, 54, 0.6) 100%
            /* parte inferior mais clara */
        );
    border-radius: 9px;
    border: 1px solid var(--color-secondary-gray);
    margin-bottom: 81px;
    cursor: pointer;
}

.card-main img {
    width: 75px;
    height: 71px;
}

.card-main h3 {
    color: var(--color-secondary-white);
    font-size: var(--font-headline-h3-size);
    font-family: var(--font-title);
}

.card-main p {
    width: 250px;
    font-size: var(--font-headline-body-size);
    font-family: var(--font-body);
    text-align: center;
    font-family: var(--font-body);
    color: var(--color-secondary-white);
}

.card-main button {
    background-color: rgb(0, 0, 0, 0);
    color: var(--color-secondary-white);
    display: flex;
    align-items: center;
    gap: 11px;
    cursor: pointer;
}