.site_primary_cards_section{
    background-color: var(--color-secondary-black);
    padding: 0px 0px 50px 0px;
}

.site_primary_cards_section h1{
    color: var(--color-secondary-white);
    text-align: center;
}

.container_primary_cards_site{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 117px;

}