.content-ia-specialists-section{
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary-black);
    align-items: center;
    gap: 75px;
    
}

.title-ia-third-cards{
    color: var(--color-secondary-white);
    font-size: var(--font-headline-h2-size);
    font-family: var(--font-title)
}

.container-ia-third-cards{
    display: flex;
    gap: 60px;
    margin-bottom: 156px;
}