.modal-content-ia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-ia-image{
    height: 397px;
}


.modal-info-content-ia{
    display: flex;
    flex-direction: column;
    padding: 50px 66px ;
    width: 529px;
    height: 397px;
    background-color: var(--color-primary-green);
    gap: 30px;
}

.modal-info-content-ia h2{
    font-size: var(--font-headline-h3-size);
    font-family: var(--font-title);
}

.modal-info-content-ia p{
    font-size: var(--font-headline-body-size);
    font-family: var(--font-title);
    font-weight: 500; /* SEMIBOLD */
    line-height: 1.4;
}

.modal-info-content-ia div{
    display: flex;
    align-items: center;    
}

.modal-info-content-ia div a{
    text-decoration: none;
    font-family: var(--font-button);  
    font-size: var(--font-headline-button-size);  
    color: var(--color-secondary-black);
}