.content-card-ia-secondary{
    background-color: var(--color-secondary-gray);
    width: 280px;
    height: 280px;
    border-radius: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.content-card-ia-secondary img{
     width: 33px;
     height: 33px;
     margin-top: -20px
}

.content-card-ia-secondary h1{
    text-align: center;
    font-size: var(--font-headline-button-size);
    font-family: var(--font-button);
}

.content-card-ia-secondary p{
    text-align: center;
    width: 196px;
    font-size: var(--font-headline-body-size);
    font-family: var(--font-body);
} 