.content-ia-primary-cards{
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary-black);
    color: var(--color-secondary-white);
}

.title-ia-primary-cards{
    text-align: center;
    font-size: var(--font-headline-h2-size);
    font-family: var(--font-title);
}

.container-ia-primary-cards{
    display: flex;
    gap: 48px;
    justify-content: center;
    padding: 87px 0px 96px 0px;
}

