*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root{
  --color-primary-green: #009387;

  --color-secondary-white: #FFFFFF;
  --color-secondary-black: #000;
  --color-secondary-gray: #3C3D36 ;
  --color-secondary-beige: #B1AE8F;
  --color-secondary-green: #8AAD06 ;
  
  --font-headline-h1-size: 60px;
  --font-headline-h2-size: 48px;
  --font-headline-h3-size: 28px;
  --font-headline-h4-size: 21px;

  --font-headline-body-size: 16px;
  --font-headline-button-size: 20px;
  --font-headline-style-size: 20px;

  --font-title: "Barlow", sans-serif;
  --font-body: "Syne", sans-serif;
  --font-button: "Syne", sans-serif;
  --font-style: "Syne Mono", monospace;
}